<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
    <link rel="stylesheet" href="{% static 'css/teststyle.css' %}">
  </head>
  <body>
    <div class="about2">
    <h1 class="jk">ABOUT</h1>
    <div class="yu">
      <pre>
        ->NPTEL SOLUTIONS
          -)The Joy of Computing using Python
          -)Programming, Data Structures And Algorithms Using Python
        ->HackerRank Solutions
        <h3>Mail us on:- ultimategamer10082211@gmail.com</h3>
        <h3>SUbscribe to our youtube channel "Ultimate Gamer"</h3>
      <a href="https://www.youtube.com/channel/UCNf6Z90A535ezXeHbMm1TTQ">Channel link</a>

      </pre>
    </div>
  </body>
</html>
