body{
  background-color:black;
}
.rect{
  position: absolute;
  border:2px;
  left:500px;
  border-style: inset;
  border-color: black;
  width:450px;
  padding-left:40px;
  padding-top: 50px;
  padding-bottom: 30px;
  height:550px;
  border:2px;
  border-style:ridge;
  border-color:white;

}
.menu{
  margin-left: 5px;
  top:70px;
  left:3px;
  color:white;
    position: absolute;
  font-size: 38px;
  font-weight: bold;
  font-size: 40px;
  width:80%;
height: 60px;

  background-color: black;
}

.menus{
  color: white;
}
.hackerrank{
  font-size: 30px;
  width:80%;
  top:150px;
  margin:20px;
  position: absolute;

}
.hackerranks{
  color: white;
}
.joc{
  font-size: 30px;
  width:80%;
  top:220px;
  margin:20px;
  position: absolute;

}
.jocs{
  color: white;
}
.pythondsandalgo{
  font-size: 30px;
  width:80%;
  top:320px;
  margin:20px;
  position: absolute;

}
.pythondsandalgos{
color: white;
}
.scld{
    font-size: 30px;
    width:80%;
    top:420px;
    margin:20px;
    position: absolute;

  }
.sclds{
  color: white;
}
