<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>week 1 quiz</title>
    <link rel="stylesheet" href="{% static 'css/joc.css' %}">
  </head>
  <body>
    <div class="max">
      <div class="head">
        <h1>WEEK 1 QUIZ</h1>
      </div>
      <div class="content">
<pre>
1.Which of the following is true about a program?
 a.A program is a set of instructions
 b.A program performs a specific task
 c.A program is an executable file
 d.All of the above
<h3 class="apk">ANS:-d.All of the above</h3>

2.State True or False.
 A program can be written in simple english language
 a.True
 b.False
<h3 class="apk">ANS:-a.True</h3>
3.Which of the following is a programming language?
 a.BASIC
 b.FROTRAN
 c.LOGO
 d.All of the above
<h3 class="apk">ANS:-d.All of the above</h3>
4.State True or False.
 Programming languages are used to give instructions to computers.
 a.True
 b.False
<h3 class="apk">ANS:-a.True</h3>
5.Which of the following can be used to communicate across multiple sprites?
 a.broadcast messages
 b.wait option
 c.sounds options
 d.join operator
<h3 class="apk">ANS:-a.broadcast messages</h3>
6. IMG
  Which of the following is an output of the above set of instructions?
 a.A jumping sprite
 b.A rotating sprite
 c.A stationary sprite
 d.A sleeping sprite
<h3 class="apk">ANS:-b.A rotating sprite</h3>
7.What kind of block should i use to make my sprite move around?
 a.Sensing
 b.Sound
 c.Motion
 d.None of the above
<h3 class="apk">ANS:-c.Motion</h3>
8.Which of the following is a facility provided by Scratch to use sound effects?
 a.A sound library is provided
 b.We can record sound using a microphone
 c.We can use a sound file
 d.All the above
<h3 class="apk">ANS:-d.All the above</h3>
9.What happens when the green flag symbol is clicked in Scratch?
 a.The program starts
 b.The program gets deleted
 c.The program halts
 d.Nothing happens
 <h3 class="apk">ANS:-a.The program starts</h3>
 </pre>
      </div>
    </div>
  </body>
</html>
