<<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MENU</title>
    <link rel="stylesheet" href="{% static 'css/mainmenu.css' %}">
  </head>
  <body>
    <div class="rect">
      <div class="menu">
        <a class="menus" href="">Menu</a>
      </div>
      <div class="hackerrank">
      <a class="hackerranks"  href="hackerrank/menu"> HACKERRANK</a>
      </div>
      <div class="joc">
        <a class="jocs" href="/joc/menu">THE JOY OF COMPUTING USING PYTHON</a>
      </div>
      <div class="pythondsandalgo">
        <a class="pythondsandalgos" href="/pythonds/menu"> Programming, Data Structures And Algorithms Using Python</a>
      </div>
      <div class="scld">
        <a class="sclds" href="/scld/menu">Switching Circuits and Logic Design</a>
      </div>
    </div>
  </body>
</html>
